.futures {
    min-height: 900px;
    padding: 80px 0 80px 0;
    &__items-q, &__items-t {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item-q, &__item-t {
        width: 360px;
        height: 250px;
        position: relative;
        text-align: center;
        &_descr {
            position: absolute;
            max-width: 240px;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: #393939;
            top: 180px;
            left: 60px;
        }
    }
    &__arrow {
        display: block;
        width: 169px;
        margin: 0 auto;
        margin-top: 50px;
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #393939;
        text-align: center;
        margin-top: 30px;
    }
    &__items-t {
        margin-top: 40px;
    }
}