.promo {
    height: 100vh;
    padding-top: 40px;
    background: url('../img/bg/promo-bg.png') center (center/cover) no-repeat;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 540px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        transition: 0.5s all;
        &.active {
            visibility: visible;
            position: absolute;
            width: 300px;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: $main-color;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
    &__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        a {
            text-decoration: none;
            color: #fff;
            transition: 0.3s all;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__block_left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 570px;
        height: 270px;
        margin-top: 140px;
        &-title {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            color: #fff;
            margin: 0;
        }
        &-descr {
            font-weight: 300;
            font-size: 26px;
            line-height: 30px;
            color: #fff;
            margin: 0;
        }
        &-btn {
            @include main-btn;
            transition: 0.5s all;
            &:hover {
                width: 280px;
                background-color: #029bc2;
            }
        }
    }
    &__block_right {
        width: 435px;
        margin-top: 46px;
        img {
            width: 100%;
        }
    }
    &__overlay {
        visibility: hidden;
        transition: 0.3s all;
        &.active {
            visibility: visible;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0.75;
        }
    }
}
.hamburger {
    display: none;
}
